body {
    background-color: coral;
}

section {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    border-width: 5px;
    border-radius: 25px;
    border: 2px solid #000;
}